*.suo
/packages/
/tools/packages/
bin/
obj/
/build/
paket-files/
.fake/
*.user
/WebSharper.AspNetMvc.Tests/Scripts/WebSharper/
/WebSharper.AspNetMvc.Tests/Content/WebSharper/
/.vs/
/WebSharper.AspNetMvc.Tests/build/
/WebSharper.AspNetMvc.Tests/wwwroot/Scripts/WebSharper
