source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localnuget

strategy: min
storage: none
framework: netstandard2.0, net9.0

nuget WebSharper prerelease
nuget WebSharper.CSharp prerelease
nuget WebSharper.UI prerelease
nuget WebSharper.UI.CSharp prerelease
nuget WebSharper.AspNetCore prerelease

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool
